<h1 class="text-center">Dashboard</h1>

<mat-grid-list cols="2" rowHeight="6:1" class="mt-1">
    <mat-grid-tile *ngFor="let element of elements" class="dash__card--mat">
        <app-dashboard-element
                [value]="element.value$ | async"
                [loadStatus]="loadStatus$ | async"
                [componentToResolve]="element.component"></app-dashboard-element>
    </mat-grid-tile>
</mat-grid-list>

<section>
    <div class="dash__card dash__card--with-padding">
        <h4 class="text-center">Employee table</h4>

        <app-employee-table></app-employee-table>
    </div>
</section>

<router-outlet></router-outlet>
