<section>
    <ng-container *ngIf="loadStatus === LoadStatus.IN_PROGRESS">
        LOADING
    </ng-container>
    <ng-container *ngIf="loadStatus === LoadStatus.SUCCESS">
        <ng-container *ngTemplateOutlet="component"></ng-container>
    </ng-container>
    <ng-container *ngIf="loadStatus === LoadStatus.ERROR">
        LOADING
    </ng-container>
</section>

<ng-template #component>
    <ng-container [ngSwitch]="componentToResolve">
        <ng-container *ngSwitchCase="DashboardComponentEnum.TOTAL_EMPLOYEES">
            <app-total-employees [value]="value"></app-total-employees>
        </ng-container>
        <ng-container *ngSwitchCase="DashboardComponentEnum.TOTAL_TIME">
            <app-total-time [value]="value"></app-total-time>
        </ng-container>
        <ng-container *ngSwitchCase="DashboardComponentEnum.REGULAR_AMOUNT">
            <app-total-regular-amount [value]="value"></app-total-regular-amount>
        </ng-container>
        <ng-container *ngSwitchCase="DashboardComponentEnum.OVERTIME_AMOUNT">
            <app-total-overtime-amount [value]="value"></app-total-overtime-amount>
        </ng-container>
    </ng-container>
</ng-template>
