<div class="modal__background" (click)="onClose()">
    <div class="modal__content" (click)="stopPropagation($event)">
        <ng-container [ngTemplateOutlet]="template"></ng-container>
    </div>
</div>
