<form [formGroup]="formGroup" *ngIf="formGroup">
    <mat-grid-list cols="2" rowHeight="6:1" class="mt-1">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Employee name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Employee hourly rate</mat-label>
                <input matInput placeholder="Hourly rate" formControlName="hourly_rate">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Employee status</mat-label>
                <input matInput placeholder="Status" formControlName="status">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Employee overtime hourly rate</mat-label>
                <input matInput placeholder="Overtime hourly rate" formControlName="overtime_hourly_rate">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <h4><b>Shifts</b></h4>

    <app-shifts [inputShifts]="employee?.shifts || []"></app-shifts>
</form>
