<div>
    <button (click)="openBulkEdit()" mat-raised-button [disabled]="!selection.selected.length" color="primary">Bulk edit</button>
</div>

<ng-container *ngIf="employeeState$ | async as state">
    <div class="mt-1">
        <ng-container *ngIf="state.loadStatus === LoadStatus.SUCCESS || state.loadStatus === LoadStatus.UPDATED || state.loadStatus === LoadStatus.CANCELLED">
            <table mat-table [dataSource]="state.employees" class="mat-elevation-z8 app-table">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle(state.employees) : null"
                                      [checked]="selection.hasValue() && isAllSelected(state.employees)"
                                      [indeterminate]="selection.hasValue() && !isAllSelected(state.employees)">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="total_clocked_in_time">
                    <th mat-header-cell *matHeaderCellDef> Total Clocked in a time </th>
                    <td mat-cell *matCellDef="let element"> {{element.total_clocked_in_time}} </td>
                </ng-container>

                <ng-container matColumnDef="total_amount_paid">
                    <th mat-header-cell *matHeaderCellDef> The total amount paid for regular hours </th>
                    <td mat-cell *matCellDef="let element"> {{element.total_amount_paid}} </td>
                </ng-container>

                <ng-container matColumnDef="total_overtime_amount">
                    <th mat-header-cell *matHeaderCellDef> The total overtime amount paid for overtime hours </th>
                    <td mat-cell *matCellDef="let element"> {{element.total_overtime_amount}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </ng-container>

        <ng-container *ngIf="state.loadStatus === LoadStatus.IN_PROGRESS">
            <p class="text-center">LOADING</p>
        </ng-container>

        <ng-container *ngIf="state.loadStatus === LoadStatus.ERROR">
            <p class="text-center">ERROR</p>
        </ng-container>
    </div>
</ng-container>
