<table mat-table [dataSource]="shifts ? shifts : []" class="mat-elevation-z8 app-table mt-05">
    <ng-container matColumnDef="shift">
        <th mat-header-cell *matHeaderCellDef> Shift </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="in_time">
        <th mat-header-cell *matHeaderCellDef> Clock in time </th>
        <td mat-cell *matCellDef="let element">
            {{ element.check_in }}
        </td>
    </ng-container>

    <ng-container matColumnDef="out_time">
        <th mat-header-cell *matHeaderCellDef> Clock out time </th>
        <td mat-cell *matCellDef="let element">
            {{ element.check_out }}
        </td>
    </ng-container>

    <ng-container matColumnDef="total_time">
        <th mat-header-cell *matHeaderCellDef> Total time </th>
        <td mat-cell *matCellDef="let element"> {{ element | getTotalTime }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
