<div class="bulk__filter">
    <span>{{choosedFilter}}</span>
    <span>
        <mat-form-field>
          <mat-select [(value)]="choosedFilter" (valueChange)="filterShifts()">
            <mat-option *ngFor="let date of shiftDates" [value]="date">
              {{date}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </span>
</div>

<app-bulk-edit-table [shifts]="shifts"></app-bulk-edit-table>
