<app-modal
        [template]="template"
        (close)="closeModal()"></app-modal>

<ng-template #template>
    <section *ngFor="let employee of employees$ | async; let i = index" class="p-1 bulk">
        <h4><b>{{i + 1}}. Employee</b></h4>

        <app-employee-form [employee]="employee" (employeeUpdated)="employeeUpdated($event)"></app-employee-form>
    </section>
    <section class="bulk__modal-buttons">
        <button (click)="save()" mat-raised-button color="primary">Save</button>
        <button (click)="closeModal()" mat-raised-button color="primary" class="ml-10">Cancel</button>
    </section>
</ng-template>
