@import "assets/styles/variables";
@import "assets/styles/mixins";

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100%;
}

.mt-05 {
    margin-top: 0.5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.ml-10 {
    margin-left: 10px!important;
}

.p-1 {
    padding: 1rem;
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
}

.app-table {
    text-align: center;

    th.mat-header-cell {
        text-align: center;
    }
}

.header {
    background: $theme-color;
    height: $header-height;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
    color: $text-over-main-color;
    @include flex-center;
}

.dash__card {
    @include dashCard;

    &--with-padding {
        padding: $dash-card-wrap-padding;
        box-sizing: border-box;
    }

    &--mat {
        .mat-grid-tile-content {
            @include dashCard;
        }
    }
}


.modal {
    &__background {
        position: fixed;
        z-index: 999;
        background: rgba(84, 96, 122, .1);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        @include flex-center;
    }

    &__content {
        min-width: 50%;
        min-height: 50%;
        max-height: 90%;
        position: relative;
        overflow-y: auto;

        @include card;
    }
}

.bulk {
    mat-form-field {
        width: 90%;
    }

    &__filter {
        @include flex-between;
    }

    &__modal-buttons {
        border-top: 1px solid $border-color;
        margin-top: 10px;
        padding: 5px;
    }
}
