@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin card {
    border: 1px solid $border-color;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    background: $card-background;
    border-radius: 10px;
}

@mixin dashCard {
    width: calc(100% - 30px);
    height: calc(100% - 15px);
    margin: 0 auto;

    @include card;
}
